#searchform {
	max-width: rem-calc(260);
	width: 100%;
	padding: 0 rem-calc(16);

	@media #{$large-up} {
		padding: 0;
	}

	.single-field-search {
		position: relative;

		@media #{$medium-up} {
			width: 90%;
		}

		.fal {
			position: absolute;
			top: 6px;
			left: 8px;
			font-family: FontAwesome, sans-serif;
			font-style: normal;
		}
	}

	input[type='text'] {
		width: 90%;
		min-height: rem-calc(35);
		padding: 0 rem-calc(48) 0 rem-calc(7);
		font-size: rem-calc(14);
		font-weight: $font-weight-normal;
		line-height: 2;
		border: 1px solid $secondary-color;
		border-radius: $global-radius;

		&::placeholder {
			color: $bg-light;
		}

		&:placeholder-shown {
			text-overflow: ellipsis;
		}

		&:focus {
			border: 1px solid scale-color($secondary-color, $lightness: 18%);
		}
	}

	input[type='submit'] {
		position: absolute;
		right: 0;
		width: rem-calc(65);
		height: 100%;
		text-indent: -999px;
		background-image: url(../img/ic-search.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: rem-calc(32);
		background-color: $secondary-color;
		border: none;
		border-radius: 0 $global-radius $global-radius 0;
		z-index: 9;
	}
}