.dmc-tabs {
	width: 100%;

	section {
		display: none;
		padding: 20px 0 0;
		border-top: 1px solid #abc;

		.holder {
			text-align: left;
		}
	}

	input {
		display: none;
	}

	label {
		display: inline-block;
		margin: 0 0 -1px;
		padding: 15px 25px;
		font-weight: 600;
		text-align: center;
		color: #abc;
		border: 1px solid transparent;
	}

	label::before {
		margin-right: 10px;
	}

	// label[for*='1']:before { content: '\f1cb'; }
	// label[for*='2']:before { content: '\f17d'; }
	// label[for*='3']:before { content: '\f16c'; }
	// label[for*='4']:before { content: '\f171'; }

	label:hover {
		color: #789;
		cursor: pointer;
	}

	input:checked + label {
		color: #0af;
		border: 1px solid #abc;
		border-top: 2px solid #0af;
		border-bottom: 1px solid #fff;
	}

	#tab1:checked ~ #content1,
	#tab2:checked ~ #content2,
	#tab3:checked ~ #content3,
	#tab4:checked ~ #content4 {
		display: flex;
		align-items: flex-start;
	}

	@media screen and (max-width: 800px) {
		label {
			font-size: 0;
		}

		label::before {
			margin: 0;
			font-size: 18px;
		}
	}

	@media screen and (max-width: 500px) {
		label {
			padding: 15px;
		}
	}

}
