#content .gform_wrapper {
	margin-bottom: 2rem;
	padding: $content-spacing;
	background-color: #eee;

	.top_label .gfield_label {
		color: $third-color;
	}

	.gsection {
		&:not(:first-of-type) {
			padding-top: $content-spacing;
		}

		.gsection_title {
			color: $secondary-color;
			margin-bottom: 0;
		}
	}

	fieldset {
		// &.gfield--width-full {
		margin: calc($content-spacing/2) 0 0;
		// }
	}

	input[type='text'],
	input[type='url'],
	input[type='email'],
	input[type='tel'],
	input[type='number'],
	input[type='password'],
	textarea {
		height: rem-calc(42);
		color: #242526;
		font-size: rem-calc(18);
		margin: 0;
		padding: rem-calc(5);
		border: 1px solid scale-color($third-color, $lightness: 65%);
		border-radius: $global-radius;

		&:focus {
			border: 2px solid scale-color($primary-color, $lightness: 18%);
		}

		&::placeholder {
			color: #bbb;
			font-size: rem-calc(15);
			line-height: 1.5;
		}

		&::-webkit-input-placeholder {
			color: #bbb;
			font-size: rem-calc(15);
			line-height: 1.5;
		}

		&::-ms-input-placeholder {
			color: #bbb;
			font-size: rem-calc(15);
			line-height: 1.5;
		}

		&:read-only {
			font-size: rem-calc(22);
			font-weight: $font-weight-bold;
			box-shadow: none;
			border-color: transparent;
			background: none;

			&:focus {
				border: none;
				background: none;
			}
		}

		&.gf_coupon_code {
			display: inline-block;
		}
	}

	textarea {
		height: auto;
		padding: rem-calc(10);
	}

	// styles selects

	&.gf_browser_chrome,
	&.gf_browser_safari {

		.ginput_complex .ginput_right select,
		select.gfield_select {
			-webkit-appearance: none;
			height: 42px;
			color: #333;
			font-size: 16px;
			padding: 8px 25px 8px 15px;
			border: 2px solid #edeef1;
			border-radius: $global-radius;

			option {
				font-size: rem-calc(16);
			}
		}
	}

	// add dropdown arrow for selects

	.ginput_right.address_country,
	.ginput_container_select {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: 20px;
			right: 20px;
			border: inset 5px;
			border-color: rgba($primary-color, 1) transparent transparent transparent;
			border-top-style: solid;
		}
	}

	.dmc-read-only {
		margin-top: 0;

		label {
			display: none;
		}
	}

	.gfield_checkbox label {
		font-size: rem-calc(16);
		margin-left: rem-calc(5);
	}

}

.gform_confirmation_wrapper {
	.gform_confirmation_message {
		width: 80%;
		margin: 0 auto;
		padding: 2rem 2rem;
		text-align: center;
		font-size: rem-calc(18);
		color: $primary-color;
		font-weight: 600;
		background: scale-color($primary-color, $alpha: -92%);
		border: 2px solid scale-color($primary-color, $alpha: -67%);
	}
}
