.dmc-stack-layout {
	display: grid;
	grid-template-areas: 'stack';

	>* {
		grid-area: stack;
	}

	.blend-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		background-color: rgba(65, 65, 65, 0.64);
		background-blend-mode: multiply;
	}

	.mobile-only {
		display: block;

		@media #{$medium-up} {
			display: none;
		}
	}

	.medium-only {
		display: none;

		@media #{$medium-only} {
			display: block;
		}
	}

	.desktop-only {
		display: none;

		@media #{$large-up} {
			display: block;
		}
	}

	.stack-hero-feature {
		&.desktop-only {
			width: 100%;
		}

		&.mobile-only {
			place-self: end center;
		}
	}

	&.hero-right .stack-hero-feature.desktop-only {
		place-self: center end;

		@media #{$medium-only} {
			display: block;
			max-width: 100%;
		}
	}

	&.hero-left .stack-hero-feature.desktop-only {
		place-self: center start;
	}

	.stack-hero-bg {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	&.content-left .slider-content {
		@media #{$large-up} {
			place-self: center start;
		}
	}

	.slider-content {
		position: relative;
		place-self: center;
		max-width: rem-calc(700);
		text-align: center;

		h1 {
			color: #fff;
			margin: 0 auto calc($content-spacing/2);
			font-size: rem-calc(48);
			font-weight: $font-weight-bold;
			line-height: 1.1;
		}

		p {
			color: #fff;
			font-size: rem-calc(18);
			font-weight: $font-weight-bold;
			line-height: 1.25;
			margin: 0 0 $content-spacing;

			@media #{$medium-up} {
				font-size: rem-calc(18);
			}

		}
	}
}
