
.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	// max-width: $row-width;
	list-style: none;
	margin: 0;

	@media #{$medium-up} {
		> * {
			flex-basis: calc(50% - 15px);
		}
	}

	@supports (display: grid) {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: rem-calc(30);
		justify-content: center;

		@media #{$medium-up} {
			grid-template-columns: repeat(auto-fit, minmax(280px, 4fr));
		}
	}
}

.card-new {
	position: relative;
	border: 1px solid #cdcdcd6b;
	display: flex;
	flex-direction: column;
	box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
	border-radius: $global-radius;
	background-color: #cdcdcd6b;

	&:focus-within,
	&:hover {
		box-shadow: 0 0 14px 0.05rem;
	}

	a::after {
		content: '';
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

	.card-img {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1rem));

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
			opacity: 1;
			will-change: opacity;
			transition: opacity 0.2s linear;

			&:hover {
				opacity: 0.5;
			}
		}
	}

	.entry-meta {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: 1rem;

		> * + * {
			margin-top: 0.75rem;
		}

		h1 {
			margin: 0;
			font-size: rem-calc(19);
			font-weight: $font-weight-bold;
			line-height: 1.2;

			a {
				color: $primary-color;
			}
		}

		p {
			color: initial;
			font-size: rem-calc(14);
		}

		> :last-child {
			margin-top: auto;
			padding-top: 0.75rem;
		}
	}

	.button {
		width: 100%;
		margin: 0;
		font-weight: $font-weight-bold;
		background-color: $primary-color;
	}
}

.featured-prods {
	.cards {
		.card-new {
			.card-img {
				img {
					position: relative;
					z-index: 9;
				}
			}

			h3 {
				color: $third-color;
				margin: 0 0 rem-calc(10) rem-calc(10);
				font-family: $font-family-sans-serif;
				font-size: rem-calc(13);

				@media #{$medium-up} {
					font-size: rem-calc(15);
				}

				@media #{$large-up} {
					font-size: rem-calc(18);
				}
			}

			.button {
				position: absolute;
				z-index: 9;
				right: $content-spacing;
				bottom: $content-spacing;
			}
		}
	}
}
