.container {
	.home & {
		section {
			padding: $content-spacing*2 $content-spacing/2 $content-spacing*3;

			&:nth-of-type(even) {
				background-color: $bg-light;
			}

			&.no-top-gap {
				padding-top: 0;
			}

			&.no-bottom-gap {
				padding-bottom: 0;
			}
		}
	}
}

.content-holder {
	max-width: $row-width;
	margin: 0 $content-spacing/2;

	@media #{$medium-up} {
		margin: 0 auto;
	}

	&.full-width {
		max-width: initial;
		width: 100%;
		padding: $content-spacing $content-spacing/2 $content-spacing*2;

		@media #{$medium-up} {
			padding: $content-spacing*3 $content-spacing $content-spacing*5;
		}
	}

	.section-heading {
		font-size: rem-calc(32);
		text-align: center;
		line-height: 1.1;
		margin: 0 auto $content-spacing;

		@media #{$medium-up} {
			font-size: rem-calc(48);
			margin-bottom: $content-spacing*3;
		}
	}
}

// wordpress seo breadcrumbs

#breadcrumbs {
	margin: 0;
	font-size: rem-calc(13);

	@media #{$medium-up} {
		font-size: rem-calc(14);
	}

	span {
		a {
			font-weight: $font-weight-medium;
			padding-right: rem-calc(8);
			padding-left: rem-calc(8);

			&:first-of-type {
				padding-left: 0;
			}
		}

		.breadcrumb_last {
			margin-left: rem-calc(8);
		}
	}
}

.overlay-slide {
	position: relative;
	overflow: hidden;

	.entry-meta {
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: rem-calc(20) $content-spacing;
		background-color: $primary-color;
		color: #fff;
		transition: transform 600ms ease-in-out;
		transform: translateY(100%);

		h2 {
			margin: 0 0 1rem;
			color: #fff;
			font-weight: $font-weight-bold;
			font-size: rem-calc(19);
		}

		p {
			color: #fff;
		}
	}

	&:hover .entry-meta {
		transform: translateY(75%);
		background-color: rgba(0, 0, 0, 0.7);

		.staff-home & {
			padding: rem-calc(60);
		}
	}
}

.testimonial {
	padding: $content-spacing 0;

	blockquote {
		quotes: '“' '”';
		margin: 0;
		padding: 0;
		border: none;

		p {
			margin: 0 0 rem-calc(5) 0;
			color: #000;
			font-family: $font-family-serif;
			font-size: rem-calc(14);
			font-style: italic;
			text-indent: rem-calc(10);

			&::before {
				content: open-quote;
				position: relative;
				top: 15px;
				left: -11px;
				color: #000;
				font-size: rem-calc(38);
				font-weight: $font-weight-bold;
				line-height: 1;
			}

			&::after {
				content: close-quote;
			}
		}
	}

	h4 {
		font-family: $font-family-serif;
		font-size: rem-calc(14);
		font-style: italic;
		font-weight: $font-weight-bold;
	}
}

.prev-next {
	display: flex;
	justify-content: space-between;
	margin: rem-calc(25) 0 rem-calc(45);
	padding-top: rem-calc(35) 0 rem-calc(37);
	border-top: 1px solid #c7c7c7;
	border-bottom: 1px solid #c7c7c7;

	.button {
		border-radius: $global-radius;
	}
}

#map {
	width: 100%;
	height: rem-calc(250);

	@media #{$large-up} {
		height: rem-calc(400);
	}
}


.insta {
	margin: 0 auto;
	max-width: calc(#{$row-width} - #{$content-spacing});
	width: 100%;

	.section-heading {
		text-align: center;
	}

	#sbi_images {
		display: flex;
		flex-wrap: wrap;
	}

	// set for 8 columns
	#sb_instagram.sbi_col_8 #sbi_images .sbi_item {
		flex: 1 0 50%;

		@media #{$medium-up} {
			flex: 1 0 25%;
		}

		@media #{$large-up} {
			flex: 0 1 auto;
		}
	}
}
