.author-info {
	margin-top: $content-spacing*2;
	padding: $content-spacing;
	border-top: 1px solid $cart-color;
	border-bottom: 1px solid $cart-color;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

	img {
		border-radius: 50%;
		margin-bottom: $content-spacing;
	}

	h5 {
		color: $cart-color;
		font-size: rem-calc(20);
	}

	h6 {
		font-size: rem-calc(16);
	}

	p {
		font-size: rem-calc(14);
		line-height: 1.23;
	}

	.additional {
		margin-top: $content-spacing/2;
		display: flex;

		> * {
			margin-right: $content-spacing;
		}
	}
}
