.contain-to-grid {
	max-width: 100%;
	background-color: $secondary-color;

	.home & {
		background-color: $secondary-color;
	}
}

.skiplink {
	display: none;
	width: rem-calc(1);
	height: rem-calc(1);
	position: absolute;
	top: 0;
	left: -1500px;
	padding: 1em;
	background-color: $primary-color;
	color: #fff;
	font-weight: $font-weight-bold;
	text-decoration: underline;
	z-index: 10;
	outline: none;

	&:focus {
		display: block;
		left: 0;
		width: auto;
		height: auto;
	}
}

.info-strip {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: column;
	padding: 0 rem-calc(10);
	background-color: $primary-color;

	@media #{$medium-up} {
		flex-flow: row wrap;
		height: rem-calc(40);
		padding: rem-calc(10) rem-calc(15);
	}

	@media #{$large-up} {
		padding: 0 rem-calc(30);
	}

	a {
		color: #fff;
	}

	.contacts {
		display: flex;
		width: 100%;
		justify-content: space-between;

		@media #{$medium-up} {
			width: auto;
		}

		a {
			font-weight: $font-weight-medium;

			@media #{$large-up} {
				padding-right: $content-spacing*4;
			}

			&::before {
				font-family: FontAwesome, sans-serif;
				font-size: rem-calc(18);
			}

			.dmc-hide {
				display: none;

				@media #{$large-up} {
					display: inline-block;
				}
			}
		}
	}

	.controls {
		display: none;

		@media #{$large-up} {
			display: block;
		}
	}
}

.brand-strip {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: rem-calc(15) rem-calc(7);

	@media #{$large-up} {
		padding: rem-calc(30) rem-calc(40);
	}

	.custom-logo-link {
		display: block;
		width: 100%;
		max-width: rem-calc(260);
	}

	a,
	p {
		margin: 0;
		color: #fff;
		font-size: rem-calc(15);
		font-weight: $font-weight-medium;
	}

	.social__wrap {
		@media #{$medium-up} {
			margin-left: $content-spacing;
		}
	}

}

.quicklinks {
	display: flex;
	margin: 0;
	list-style: none;

	> * {
		margin-left: $content-spacing;
	}

	li:last-of-type {
		a {
			font-weight: $font-weight-bold;
			text-transform: uppercase;
		}
	}
}
