.footer {
	background-color: $primary-color;
	padding: $content-spacing 0;

	@media #{$medium-up} {
		padding: $content-spacing*2 0;
	}

	.calls,
	.footer-links {
		max-width: $row-width;
		margin: 0 auto;

		@media #{$medium-up} {
			display: flex;
		}
	}

	.calls {
		padding: 0 $content-spacing;

		@media #{$medium-up} {
			padding: 0;
		}
	}

	p {
		color: #fff;
		font-size: rem-calc(14);

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	a {
		color: #fff;
		font-size: rem-calc(14);
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		&.link {
			padding: 0 calc($content-spacing/2);

			@media #{$large-up} {
				padding: 0 $content-spacing 0 0;
			}
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	h3 {
		color: #fff;
	}

	h4 {
		color: #fff;
		margin: 0;

		@media #{$medium-up} {
			margin: 0 0 $content-spacing;
		}
	}

	.footer-links {
		flex: 0 1 calc(66% - 25px);
		justify-content: flex-end;


		@media #{$medium-up} {
			padding: 0 $content-spacing;
		}

	}

	.widget_nav_menu {
		padding: $content-spacing 0 0;

		@media #{$medium-up} {
			padding: 0 $content-spacing*2;
		}

		&:last-of-type {
			padding-right: 0;
		}

		li {
			margin-top: rem-calc(6);
		}
	}
}

.credits {
	background-color: $third-color;
	padding: calc($content-spacing/2) $content-spacing;

	@media #{$medium-up} {
		padding: 0;
	}

	.holder {
		padding: rem-calc(15) 0 rem-calc(8);

		@media #{$medium-up} {
			display: flex;
			justify-content: space-between;
			width: 100%;
			max-width: $row-width;
			margin: 0 auto;
		}
	}

	p {
		color: #fff;
		font-size: rem-calc(12);
		margin: 0;
	}

	a {
		color: #fff;
		font-size: rem-calc(12);
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		&.link {
			@media #{$medium-up} {
				margin: 0 calc($content-spacing/2);
			}
		}
	}
}
