.dmc-ctas {
	max-width: $row-width;
	list-style: none;
	margin: 0;
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(130px, 4fr));
	grid-gap: $content-spacing*2 0;

	.dmc-cta {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		align-items: center;
		text-align: center;
		background-color: #ddd;

		img {
			height: 45px;
			width: auto;
			margin-bottom: $content-spacing;
		}

		h3 {
			font-size: rem-calc(23);

			@media #{$medium-up} {
				font-size: rem-calc(21);
			}
		}

		p {
			margin: rem-calc(15) 0 0;
			font-size: rem-calc(16);
			line-height: 1.4;

			@media #{$medium-up} {
				max-width: rem-calc(125);
				font-size: rem-calc(14);
			}
		}

		> :last-child {
			margin-top: auto;
		}
	}
}
