.page-numbers {
	color: #999;

	// @include pagination;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	ul.page-numbers li {
		display: flex;
		display: inline-block;
		font-size: rem-calc(22);
		font-weight: $font-weight-light;
	}
}

.page-numbers li {
	margin-left: rem-calc(8);

	span:hover a,
	span a:focus {
		background: scale-color(#fff, $lightness: -10%);
	}

	span.current {
		background: $primary-color;
		padding: rem-calc(1 10 1);
		color: #fff;
		font-weight: $font-weight-bold;
		cursor: default;
	}
}
