.page-numbers {
	color: #999;

	// @include pagination;
}

.pagination ul.page-numbers li {
	float: none;
	display: inline-block;
}

.page-numbers li {
	margin-left: rem-calc(8);

	span:hover a,
	span a:focus {
		background: scale-color(#fff, $lightness: -10%);
	}

	span.current {
		background: $primary-color;
		padding: rem-calc(1 10 1);
		color: #fff;
		font-weight: $font-weight-bold;
		cursor: default;
	}
}
