.button,
.products > li .add_to_cart_button,
[id^='gform_wrapper_'] .gform_button.button {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	color: #fff !important;
	font-size: rem-calc(18);
	font-weight: $font-weight-bold;
	line-height: 1;
	text-transform: capitalize;
	margin-top: $content-spacing;
	padding: rem-calc(15) rem-calc(40) !important;
	background: $primary-color;
	border-radius: $global-radius;

	&:hover {
		background-color: darken($primary-color, 12%);
	}

	&.ghost {
		color: $primary-color;
		border: 2px solid #000;
		margin-bottom: 0;
	}

	&.next {
		font-size: initial !important;
		line-height: 1;
		padding: 0;
		background-color: transparent;

		@media #{$small-only} {
			padding-right: rem-calc(13);
			padding-left: rem-calc(13);
		}

		&::after {
			// https://iconsvg.xyz
			padding-left: 0.75rem;
			content: url(../img/chevron-right.svg);
		}
	}

	&.prev {
		font-size: initial !important;
		line-height: 1;
		padding: 0;
		background-color: transparent;

		@media #{$small-only} {
			padding-right: rem-calc(13);
			padding-left: rem-calc(13);
		}

		&::after {
			display: none;
		}

		&::before {
			padding-right: 0.75rem;
			content: url(../img/chevron-left.svg);
		}
	}
	}

	&.email {
		@media #{$medium-up} {
			margin-right: 5rem;
		}

		&::after {
			padding-left: 0.75rem;
			content: '\f003';
			font-family: FontAwesome, sans-serif;
			font-size: 1.2rem;
		}
	}
}
