.contain-to-grid {
	max-width: 100%;
	background-color: $secondary-color;

	.home & {
		background-color: $secondary-color;
	}
}

.skiplink {
	display: none;
	width: rem-calc(1);
	height: rem-calc(1);
	position: absolute;
	top: 0;
	left: -1500px;
	padding: 1em;
	background-color: $primary-color;
	color: #fff;
	font-weight: $font-weight-bold;
	text-decoration: underline;
	z-index: 10;
	outline: none;

	&:focus {
		display: block;
		left: 0;
		width: auto;
		height: auto;
	}
}

.info-strip {
	height: rem-calc(51);
	border-bottom: 1px solid $third-color;

	@media #{$medium-up} {
		padding: 0 rem-calc(15);
	}

	@media #{$large-up} {
		padding: 0 rem-calc(30);
	}

	a[href^='tel:'] {
		color: $body-font-color;
	}
}

.brand-strip {
	padding: rem-calc(15) rem-calc(7);

	@media #{$large-up} {
		padding: rem-calc(30) rem-calc(40);
	}

	.custom-logo-link {
		display: block;
		max-width: rem-calc(304);
	}

	a,
	p {
		margin: 0;
		color: #fff;
		font-size: rem-calc(15);
		font-weight: $font-weight-medium;
	}
}

.quicklinks {
	display: flex;
	margin: 0;
	list-style: none;

	> * {
		margin-left: rem-calc(40);
	}

	a {
		font-size: rem-calc(13);
		color: $topbar-link-color;
	}
}
