// https: //codepen.io/davemac/pen/BaYgoJV

$socials: twitter #00acee "\e800",
	facebook #3b5998 "\e801",
	instagram #3f729b "\e802",
	foursquare #25a0ca "\e803",
	soundcloud #ff7700 "\e804",
	youtube #c4302b "\e805",
	vimeo #43baff "\e806",
	dribbble #ea4c89 "\e807",
	rss #ee802f "\e808",
	github #171515 "\e809",
	tumblr #34526f "\e80a",
	linkedin #007fb1 "\e80b",
	gplus #dd4b39 "\e80c",
	stackexchange #f47920 "\e80d";

.socials {
	a {
		width: rem-calc(48);
		height: rem-calc(48);
		font-size: rem-calc(24);
		display: inline-block;
		margin-right: rem-calc(10);
		border-radius: rem-calc(50);
		font-family: "scicons";
		font-style: normal;
		font-weight: normal;
		text-decoration: none !important;
		line-height: 1;
		color: #fff;
		transition: background-color .2s linear, color .2s linear;

		@each $type in $socials {
			&.icon-#{nth($type, 1)} {
				background-color: nth($type, 2);

				&:before {
					width: inherit;
					height: inherit;
					display: table-cell;
					content: nth($type, 3);
					text-align: center;
					vertical-align: middle;
				}

				&:hover {
					background-color: #fff;
					color: nth($type, 2);
				}
			}
		}
	}
}

div.sharedaddy {
	.sd-sharing {
		display: flex;
		align-items: center;
		margin: 0;

		h3.sd-title {
			display: none;

			&::before {
				display: none;
			}
		}

		.sd-content {
			flex: 0 1 auto;

			.share-customize-link {
				display: none;
			}

			ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
				min-width: rem-calc(120);
				margin-top: calc($content-spacing/2) !important;

				@media #{$medium-up} {
					margin-top: 0 !important;
				}

				li[class*='share-'] {
					margin: 0;
					padding: 0;

					&.share-end {
						display: none;
					}

					a.sd-button {
						// color: #fff !important;
						// background: #bbb;

						&::before {
							font-size: rem-calc(16);
						}
					}
				}
			}
		}
	}
}
