.button {
	text-transform: uppercase;

	&::after {
		padding-left: 0.75rem;
		content: '\f0a9';
		font-family: FontAwesome, sans-serif;
		font-size: 1.2rem;
	}

	&.ghost {
		color: $primary-color;
		border: 2px solid #000;
		margin-bottom: 0;
	}

	&.next {
		@media #{$small-only} {
			padding-right: rem-calc(13);
			padding-left: rem-calc(13);
		}

		&::after {
			color: $primary-color;
			padding-left: 0.75rem;
			content: '\f0da';
			font-family: FontAwesome, sans-serif;
			font-size: 1.1rem;
		}
	}

	&.prev {
		@media #{$small-only} {
			padding-right: rem-calc(13);
			padding-left: rem-calc(13);
		}

		&::after {
			display: none;
		}

		&::before {
			color: $primary-color;
			padding-right: 0.75rem;
			content: '\f0d9';
			font-family: FontAwesome, sans-serif;
			font-size: 1.1rem;
		}
	}

	&.email {
		@media #{$medium-up} {
			margin-right: 5rem;
		}

		&::after {
			padding-left: 0.75rem;
			content: '\f003';
			font-family: FontAwesome, sans-serif;
			font-size: 1.2rem;
		}
	}
}
