.top-bar-section {
	background-color: $secondary-color;

	ul.main-menu {
		display: flex;
		align-items: center;
		justify-content: center;
		list-style: none;
		margin: 0 auto;
		max-width: $row-width;

		ul {
			min-width: 150px;
			margin: 0;
			list-style: none;
			position: absolute;
			z-index: 99;
			top: -999em;
			left: -999em;
		}

		li {
			display: inline-block;
			position: relative;

			&.focus,
			&:hover {
				> ul {
					top: auto;
					left: auto;
				}
			}

			li {
				display: block;

				&.focus,
				&:hover {
					> ul {
						left: 100%;
						top: 0;
					}
				}
			}

			// &:last-child {
			// 	padding-right: rem-calc(10) rem-calc(18);
			// }

			a {
				display: block;
				white-space: nowrap;
				padding: rem-calc(16) rem-calc(22);
				color: #fff;
				font-size: rem-calc(16);
				font-weight: $font-weight-bold;
				line-height: 1;
			}
		}

		// Active & hover styles

		a:hover,
		li:hover > a,
		.focus > a,
		.current-menu-item > a,
		.current-menu-ancestor > a,
		li.active a {
			color: $primary-color;
			background-color: $secondary-color;
		}

		.single-product & li.menu-item-shop > a,
		.post-type-archive-product & li.menu-item-shop > a,
		.tax-product_cat & li.menu-item-shop a,
		.woocommerce-cart & li.menu-item-shop a,
		.woocommerce-checkout & li.menu-item-shop a,
		.parent-pageid-19 & li.menu-item-about a,
		.single-post & li.menu-item-blog a,
		.category & li.menu-item-blog a,
		.date & li.menu-item-blog a {
			color: $primary-color;
			background-color: $secondary-color;
		}

		// First level item arrows

		.menu-item-has-children {
			> a {
				&::before {
					content: '';
					position: absolute;
					right: 8px;
					top: 50%;
					transform: translateY(-50%);
					border: 4px solid transparent;
					border-top-color: currentColor; // trick to always keep the arrow coloured the same as the menu item's text in each state
				}
			}
		}

		// Submenu styles & second level item arrows

		ul {
			background-color: $secondary-color;

			.menu-item-has-children {
				> a {
					&::before {
						right: 2px;
						border-top-color: transparent;
						border-left-color: currentColor;
					}
				}
			}
		}
	}
}
