$cart-color: $charcoal;

// 	#payment {
// 		#place_order {
// 			background: $cart-color !important;
// 		}
// 	}

.woocommerce {

	.woocommerce-message {
		color: $bg-light;
		background: $third-color;

		.button {
			color: #fff;
			display: flex !important;
			justify-content: space-between;
			font-size: rem-calc(15) !important;
			font-weight: $font-weight-normal;
			text-transform: initial;
			background-color: $primary-color !important;

			&::after {
				content: '\f105';
				font-size: rem-calc(15);
			}
		}
	}

	.woocommerce-info {
		font-size: rem-calc(20);
		font-weight: $font-weight-medium;
		border-top: 1px solid $body-font-color;

		a {
			font-size: rem-calc(15);
			font-weight: $font-weight-normal;
		}

		&::before {
			display: none;
		}
	}

	.quantity .qty {
		@media #{$large-up} {
			width: 62px;
			height: 50px;
			margin-top: 5px;
		}
	}

	table.shop_table {
		border: none;
		border-top: none;
		color: $body-font-color;

		input#coupon_code {
			width: rem-calc(330) !important;
		}

		th {
			font-size: rem-calc(15);
			font-weight: $font-weight-medium !important;
		}

		td {
			@media #{$large-up} {
				padding: rem-calc(30) rem-calc(20);
			}

			a {
				color: $body-font-color;
			}

			&.product-thumbnail img {
				max-height: 145px;
				width: auto;
			}

			button.button {
				color: #fff;
				background-color: $primary-color;
				border-radius: 0;
			}

			&.actions {
				.button {
					float: right;
				}
			}
		}
	}

	.cart_totals {
		max-width: 500px;
		color: $body-font-color;

		h2 {
			display: none;
		}

		.shop_table {
			border-top: 1px solid $third-color;

			th {
				padding: rem-calc(30) 0;
				vertical-align: center;
				font-size: rem-calc(15);
				font-weight: $font-weight-normal;
			}

			td {
				text-align: right;

				@media #{$large-up} {
					padding: rem-calc(30) 0;
				}
			}
		}

		.order-total {
			th {
				font-size: rem-calc(22);
				font-weight: $font-weight-medium;
			}
		}

		.checkout-button {
			display: flex !important;
			justify-content: space-between;
			width: 100%;
			padding: rem-calc(22) $content-spacing rem-calc(20) !important;
			font-size: rem-calc(14) !important;
			font-weight: $font-weight-normal;
			text-transform: initial;
			background-color: $primary-color !important;
			border-radius: 0;

			&::after {
				content: '\f105';
				font-size: rem-calc(20);
			}

			&:hover {
				background-color: darken($primary-color, 33%) !important;
			}
		}
	}

	form .form-row input {
		font-weight: $font-weight-normal;
		border: none;
	}

	.woocommerce-checkout {
		h3 {
			padding-bottom: $content-spacing;
		}

		label {
			color: $body-font-color;
		}

		#customer_details {
			padding-bottom: $content-spacing;
		}

		.woocommerce-checkout-review-order-table {
			background-color: #fff;
		}

		.button.alt {
			display: flex;
			justify-content: space-between;
			width: 40%;
			margin-top: $content-spacing;
			padding: rem-calc(22) $content-spacing*2 rem-calc(20);
			font-size: rem-calc(14);
			font-weight: $font-weight-normal;
			text-transform: initial;
			background-color: $primary-color;
			border-radius: 0;

			&:hover {
				background-color: darken($primary-color, 33%) !important;
			}
		}
	}

}

.woocommerce-page {
	.woocommerce-info {
		.button {
			color: #fff;
			background-color: $primary-color;
		}
	}
}

// use flexbox for product layout grid

.woocommerce-custom ul.products {

	li.product {
		margin: 20px;
		background-color: #fff;

		@media #{$medium-up} {
			margin: 40px;
		}
	}
}

.woocommerce {
	ul.products {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		max-width: $row-width;
		list-style: none;
		margin: 0 auto;

		> li {
			flex-basis: 100%;
			background-color: #fff;

			@media #{$medium-up} {
				flex-basis: calc(50% - 60px);
				margin: 30px !important;
			}

			@media #{$large-up} {
				flex-basis: calc(33% - 60px);
			}
		}

		&::before {
			display: none !important;
			content: none !important;
		}

		li.product {
			position: relative;

			img {
				padding-top: $content-spacing;
				border-bottom: 1px solid $bg-light;
			}

			.woocommerce-loop-product__title,
			.price {
				font-size: rem-calc(15);
				padding: 0 $content-spacing $content-spacing/2 !important;
			}

			.woocommerce-products-compare-compare-button {
				display: flex;
				position: absolute;
				top: 10px;
				right: 10px;
				margin: 0;
			}
		}
	}

	div.product {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		width: 100%;
		max-width: 75rem;

		@media #{$large-up} {
			padding: $content-spacing*4 0;
		}

		.woocommerce-product-gallery__image {
			margin-bottom: $content-spacing;
		}

		p {
			font-size: rem-calc(14);
		}

		div.summary {
			max-width: rem-calc(360);
			padding: 0 $content-spacing/2;

			@media #{$medium-up} {
				padding: 0;
				margin-left: rem-calc(150);
			}

			.woocommerce-products-compare-compare-button {
				display: none;
			}
		}

		.product_title {
			display: flex;
			flex-direction: column;
			font-size: rem-calc(23);
		}

		.woocommerce-product-details__short-description {
			margin-bottom: $content-spacing;
		}

		table.shop_attributes {
			display: none;
		}

		p.price {
			margin-top: $content-spacing*2;
			color: $body-font-color;
			font-size: rem-calc(15);
		}

		form.cart {
			label {
				font-weight: $font-weight-normal !important;
			}

			select {
				max-width: rem-calc(190);
				font-size: rem-calc(15);
				font-weight: $font-weight-normal;
				margin: 5px 0 0;
				padding: 11px 20px;
				height: 48px;
				border: none;
				background-color: #fff;
			}

			.screen-reader-text {
				position: static !important;
				width: initial;
				height: initial;
			}

			button {
				display: flex;
				justify-content: space-between;
				width: 100%;
				margin-top: $content-spacing;
				padding: rem-calc(22) $content-spacing*2 rem-calc(20);
				font-size: rem-calc(14);
				font-weight: $font-weight-normal;
				text-transform: initial;
				background-color: $primary-color;
				border-radius: 0;

				&::after {
					content: '\f105';
					font-size: rem-calc(20);
				}

				&.alt.disabled {
					background-color: $primary-color;
				}

				&:hover {
					background-color: darken($primary-color, 33%) !important;
				}
			}
		}

		.single_variation_wrap {
			.single_variation {
				display: flex;
				justify-content: space-between;

				.woocommerce-variation-description {
					display: none;
				}
			}

			.in-stock {
				&::before {
					font-family: FontAwesome, sans-serif;
					content: '\f00c';
					padding: rem-calc(8);
				}
			}
		}
	}
}

.dmc-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding: 0 $content-spacing/2;
	border-top: 1px solid $third-color;

	@media #{$large-up} {
		margin-top: $content-spacing*2;
		padding: $content-spacing*3 0 0;
	}
}

.woocommerce-tabs,
.resources,
.dmc-prod-meta {
	@media #{$medium-up} {
		max-width: 450px;
	}

	ul.tabs {
		display: none;
	}

	h2 {
		margin-bottom: $content-spacing;
		font-size: rem-calc(23);

		@media #{$medium-up} {
			margin-bottom: $content-spacing*2;
		}
	}

	ul {
		margin: 0;
		list-style: none;
	}

	.document {
		min-width: 268px;
		margin-bottom: $content-spacing;
	}
}

.product-video-row {
	@media #{$large-up} {
		flex-wrap: nowrap;
	}

	.product-video {
		.video-wrap {
			width: 600px;
		}
	}

	.product-video-desc {
		display: flex;
		flex-flow: column;
		justify-content: center;
		max-width: 300px;

		h3 {
			font-size: rem-calc(23);
		}
	}
}

.related.products {
	padding-top: $content-spacing;
	border-top: 1px solid $third-color;

	@media #{$medium-up} {
		margin-top: $content-spacing*2;
		padding-top: $content-spacing*3;
	}

	h2 {
		margin: 0 0 $content-spacing*2;
		font-size: rem-calc(35);
		text-align: center;
	}
}

// header cart indicator

.cart-contents {
	display: none;
	margin-left: rem-calc(20);
	padding: rem-calc(5) rem-calc(10);
	color: #fff;
	font-weight: $font-weight-medium;
	line-height: 1;
	font-size: rem-calc(20);
	background-color: $primary-color;

	@media #{$medium-up} {
		display: flex;
		align-items: center;
		align-self: stretch;
	}

}

.cart-contents-count::after {
	font-family: FontAwesome, sans-serif;
	content: '\f07a';
	font-size: rem-calc(19);
	font-weight: $font-weight-medium;
}

.woocommerce-products-header {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: rem-calc(150);
	background-size: cover;
	background-position: 50%;

	@media #{$medium-up} {
		height: rem-calc(378);
	}

	.woocommerce-products-header__title {
		color: #fff;
		font-size: rem-calc(30);
		margin: 0;

		@media #{$medium-up} {
			font-size: rem-calc(60);
		}
	}

	.page-description {
		p {
			color: #fff;
			font-size: rem-calc(15);
			margin: 0;
		}
	}

}

.single-product {
	.posted_in {
		display: none;
	}
}

.tax-product_cat {
	.category-meta {
		margin: $content-spacing*2 auto;

		h2 {
			margin-left: rem-calc(30);
			padding: 0 0 rem-calc(30) 0;
			font-size: rem-calc(35);
			line-height: 1.2;
		}

		p {
			margin-right: rem-calc(30);
		}
	}
}

// Product dropdown filters

.search-filter {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border: 1px solid $third-color;

	.prod-filters {
		display: flex;
		justify-content: center;
		max-width: $row-width;

		.filter-item {
			flex-basis: calc(33% - 20px);
			border-right: 1px solid $third-color;

			&:last-of-type {
				border: none;
			}
		}
	}

	.category-select {
		position: relative;

		&::after {
			visibility: hidden;
			content: '';
			position: absolute;
			top: 20px;
			right: 20px;
			border: inset 5px;
			border-color: rgba($primary-color, 1) transparent transparent transparent;
			border-top-style: solid;

			@media #{$medium-up} {
				visibility: visible;
			}
		}

		select {
			border: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			-ms-appearance: none;
			padding: 0 15px;
			color: $body-font-color;
			background-color: transparent;

			@media #{$medium-up} {
				visibility: visible;
				padding: 20px 30px;
			}
		}

		option {
			color: $body-font-color;
			font-size: rem-calc(15);
		}
	}
}
