.footer {
	background-color: $primary-color;
	padding-top: $content-spacing;

	@media #{$medium-up} {
		padding-top: $content-spacing*3;
	}

	.calls,
	.footer-links {
		max-width: $row-width;
		margin: 0 $content-spacing;

		@media #{$medium-up} {
			display: flex;
			justify-content: center;
			justify-content: space-around;
			margin: 0 auto;
		}

		@media #{$large-up} {
			justify-content: space-between;
		}

		.item {
			&:last-of-type {
				max-width: rem-calc(200);
			}
		}

	}

	p {
		color: $bg-light;
		font-size: rem-calc(13);
	}

	a {
		color: $bg-light;
		font-size: rem-calc(13);

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		&.link {
			padding: 0 $content-spacing/2;

			@media #{$large-up} {
				padding: 0 $content-spacing 0 0;
			}
		}
	}

	ul {
		list-style: none;
		margin: 0;
	}

	h3 {
		color: $bg-light;

		@media #{$medium-up} {
			font-size: rem-calc(24);
		}
	}

	h4 {
		color: $bg-light;

		margin: 0;

		@media #{$medium-up} {
			margin: 0 0 $content-spacing/2;
		}
	}

	.footer-links {
		justify-content: space-between;
		padding: $content-spacing;

		@media #{$medium-up} {
			padding-bottom: $content-spacing*2;
		}
	}
}

.credits {
	background-color: rgba(0, 0, 0, 1);

	.holder {
		padding: rem-calc(10) $content-spacing rem-calc(5);

		@media #{$medium-up} {
			display: flex;
			justify-content: space-between;
			width: 100%;
			max-width: $row-width;
			margin: 0 auto;
		}
	}

	p {
		color: #fff;
		font-size: rem-calc(12);
		line-height: 3;
		margin: 0;

		@media #{$medium-up} {
			line-height: 1.5;
		}
	}

	a {
		color: $bg-light;
		font-size: rem-calc(12);
		text-decoration: underline;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		&.link {
			@media #{$medium-up} {
				margin: 0 $content-spacing/2;
			}
		}
	}
}
