
.property-slider-combined {

	.carousel-cell {
		width: 100%;
		margin-right: $content-spacing/2;

		@media #{$medium-up} {
			width: 33%;
		}

		@media #{$large-up} {
			width: 25%;
		}

		.card-img {
			height: rem-calc(169);
		}

		.building-stats {
			margin-bottom: $content-spacing/2;
		}

		.carousel-cell-image {
			transition: opacity 0.4s;
			opacity: 0;
		}

		.carousel-cell-image.flickity-lazyloaded,
		.carousel-cell-image.flickity-lazyerror {
			opacity: 1;
		}
	}

	.flickity-button {
		background: transparent;

		&.flickity-prev-next-button {
			&.previous {
				left: -50px;
			}

			&.next {
				right: -50px;
			}
		}

		.flickity-button-icon {
			fill: $primary-color;
		}
	}

	.flickity-page-dots {
		bottom: -40px;

		.dot {
			width: 13px;
			height: 13px;
			opacity: 1;
			background: transparent;
			border: 1px solid $primary-color;
		}
	}

	.flickity-page-dots .dot.is-selected {
		background: $primary-color;
	}
}
