.tab-bar {
	background: none;

	@media #{$medium-up} {
		// display: none;
	}

	.menu-icon {
		display: inline-block;
		width: rem-calc(46);
		height: rem-calc(48);
		padding: 0;
		margin: 0;
		text-decoration: none;
		background: transparent;
		color: #000;
		font-family: sans-serif;
		font-size: 0;
		text-indent: -80px;
		line-height: 1;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		background-image: url(../img/menu-offcanvas.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 32px 32px;
		border: none;
		// filter: invert(97%) sepia(54%) saturate(5%) hue-rotate(161deg) brightness(117%) contrast(100%);

		&:visited {
			filter: invert(97%) sepia(54%) saturate(5%) hue-rotate(161deg) brightness(117%) contrast(100%);
		}

		&:active {
			animation: pulse 2s 1 ease-out;
		}

		&[aria-expanded='true'] {
			background-image: url(../img/menu-offcanvas-open.svg);
		}
	}
}

.right-small {
	margin-left: $content-spacing;
}

.right-off-canvas-menu {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1001;
	width: rem-calc(275);
	backface-visibility: hidden;
	box-sizing: content-box;
	overflow-x: hidden;
	overflow-y: auto;
	transition: transform 500ms ease 0s;
	transform: translate3d(100%, 0, 0);
	background-color: $primary-color;

	&.menu-hide {
		// display: none;
	}

	ul.off-canvas-list li a {
		display: block;
		padding: 6% 10%;
		transition: background 300ms ease;
		color: #fff;
		text-decoration: none;
		border-bottom: 1px solid lighten($primary-color, 15);
	}
}

// for dmcstarter_offcanvas_walker using has_slide_outs

ul.off-canvas-list {
	margin: 0;
	padding: 0;
	list-style: none;

	.has-submenu,
	.has-dropdown {
		margin: 0;
		list-style: none;

		& > a {
			font-size: rem-calc(15);
			font-weight: $font-weight-bold;
		}

		ul.dropdown {
			margin: 0;
			padding: 0;
			list-style: none;

			li a {
				font-size: rem-calc(14);
				padding-left: 20%;
			}
		}
	}

	li {

		&.has-submenu > a,
		&.menu-item-home > a,
		&.menu-item-blog > a {
			font-weight: $font-weight-bold;

			&::after {
				float: right;
				font-size: rem-calc(18);
				margin: -1px rem-calc(12) 0 0;
				font-style: normal;
				font-weight: $font-weight-normal;
			}
		}

		&.menu-item-home a,
		&.menu-item-blog a {
			&::after {
				content: '' !important;
			}
		}
	}
}

.right-submenu {
	height: auto;

	.back > a {
		color: #fff;
		padding-left: rem-calc(12);

		&::before {
			content: '\f0d9';
			font-family: FontAwesome, sans-serif;
			font-size: rem-calc(16);
			font-style: normal;
			font-weight: $font-weight-normal;
			padding-right: rem-calc(6);
		}
	}
}

.off-canvas-wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
	backface-visibility: hidden;

	.inner-wrap {
		position: relative;
		width: 100%;
		transition: transform 500ms ease;
		transform: translate3d(0, 0, 0);
	}

	.exit-off-canvas {
		transition: background 300ms ease;
	}

	&.move-left>.inner-wrap {
		transform: translate3d(-275px, 0, 0);

		.exit-off-canvas {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1002;
			backface-visibility: hidden;
			cursor: pointer;
			background: rgba(255, 255, 255, 0.3);
			box-shadow: -3px 0 3px rgba(0, 0, 0, 0.24),
				3px 0 3px rgba(0, 0, 0, 0.24);
		}
	}
}

@keyframes pulse {
	0% {
		transform: scale(0.5);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.5);
	}
}
