$topbar-link-color: $primary-color;

.contain-to-grid {
	max-width: 100%;
	background-color: $secondary-color;

	.home & {
		background-color: $secondary-color;
	}
}

.skiplink {
	display: none;
	width: rem-calc(1);
	height: rem-calc(1);
	position: absolute;
	top: 0;
	left: -1500px;
	padding: 1em;
	background-color: $primary-color;
	color: #fff;
	font-weight: $font-weight-bold;
	text-decoration: underline;
	z-index: 10;
	outline: none;

	&:focus {
		display: block;
		left: 0;
		width: auto;
		height: auto;
	}
}

.info-strip {
	height: rem-calc(51);
	border-bottom: 1px solid $third-color;

	@media #{$medium-up} {
		padding: 0 rem-calc(15);
	}

	@media #{$large-up} {
		padding: 0 rem-calc(30);
	}

	a[href^='tel:'] {
		color: $body-font-color;
	}
}

.brand-strip {
	padding: rem-calc(15) rem-calc(7);

	@media #{$large-up} {
		padding: rem-calc(30) rem-calc(40);
	}

	a,
	p {
		margin: 0;
		color: #fff;
		font-size: rem-calc(15);
		font-weight: $font-weight-medium;
	}
}

.quicklinks {
	display: flex;
	margin: 0;
	list-style: none;

	> * {
		margin-left: rem-calc(40);
	}

	a {
		font-size: rem-calc(13);
		color: $topbar-link-color;
	}
}

.right-small {
	position: static;
	border: none;

	.menu-icon {

		span::after {
			width: rem-calc(28);
		}
	}
}

.mainnav {
	flex: 0 1 85%;
}

.tab-bar {
	background: none;

	@media #{$medium-up} {
		display: none;
	}

	.menu-icon {
		span {
			&::after {
				box-shadow:
					0 0 0 1.5px $primary-color,
					0 9px 0 1.5px $primary-color,
					0 18px 0 1.5px $primary-color;
			}
		}
	}
}

.top-bar-section {
	ul.main-menu {
		display: flex;
		list-style: none;
		margin: 0;

		.divider {
			display: none !important;
		}

		& > li:not(.has-form) {

			&.active > a {
				color: $primary-color !important;
			}

			a:not(.button) {
				position: relative;
				display: block;
				width: 100%;
				color: $topbar-link-color;
				font-size: rem-calc(14);
				font-weight: $font-weight-normal;
				padding: 0 rem-calc(21) rem-calc(12);
				line-height: 1;

				&:last-child {
					padding-right: rem-calc(10);
				}
			}

			&.has-dropdown > a::after {
				position: absolute;
				top: 7px;
				right: 5px;
				border: inset 5px;
				content: '';
				display: block;
				height: 0;
				width: 0;
				border-color: $primary-color transparent transparent transparent;
				border-top-style: solid;
				margin-top: -2.5px;
			}
		}

		.single-product & li.menu-item-shop > a,
		.tax-prodcat & li.menu-item-products a,
		.single-jetpack-portfolio & li.menu-item-inspiration a,
		.parent-pageid-19 & li.menu-item-about a,
		.single-post & li.menu-item-blog a,
		.category & li.menu-item-blog a,
		.date & li.menu-item-blog a {
			color: $primary-color;
		}
	}
}

/// mega menu

@media only screen and (min-width: 641px) {

	.dropdown-wrapper {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: rem-calc(116);
		left: 0;
		z-index: 9;
		width: 100%;
		list-style: none;
		padding: 3rem 10% 20%;
		margin: 0;
		background-color: $third-color;
		border-top: 1px solid #ccc;
		box-shadow: 0 7px 20px -9px rgba(0, 0, 0, 0.2);

		&.normal-sub {
			display: none;
		}

		&.showmega {
			visibility: visible;
			opacity: 1;
			display: flex;
			justify-content: center;
			transition: opacity 400ms;
		}

		& > li {
			max-width: 250px;
			flex-basis: 33%;
			display: flex;
			flex-direction: column;
			align-items: center;

			&.megaparent > a {
				display: flex;
				justify-content: center;
				padding: 0;
				font-size: rem-calc(16) !important;
				font-weight: $font-weight-medium !important;
				text-align: center;
			}

			a {
				color: #64554b;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.dropdown-wrapper-child {
		margin: $content-spacing 0 0;
		list-style: none;

		a {
			padding-top: rem-calc(8);
			padding-bottom: rem-calc(8);
			font-size: rem-calc(13);
		}
	}

}


// for dmcstarter_offcanvas_walker
// using has_slide_outs

ul.off-canvas-list {
	margin: 0;
	list-style: none;

	.has-submenu,
	.has-dropdown {
		margin: 0;
		list-style: none;

		& > a {
			font-size: rem-calc(15);
			font-weight: $font-weight-bold;
		}

		ul.dropdown {
			margin: 0;
			list-style: none;

			li a {
				font-size: rem-calc(14);
				padding-left: $content-spacing;
			}
		}
	}

	li {

		&.has-submenu > a,
		&.menu-item-home > a,
		&.menu-item-blog > a {
			font-weight: $font-weight-bold;

			&::after {
				float: right;
				font-size: rem-calc(18);
				margin: -1px rem-calc(12) 0 0;
				content: '\f0da' !important;
				font-family: FontAwesome, sans-serif !important;
				font-style: normal;
				font-weight: $font-weight-normal;
			}
		}

		&.menu-item-home a,
		&.menu-item-blog a {
			&::after {
				content: '' !important;
			}
		}
	}
}

.right-submenu {
	height: auto;

	.back > a {
		color: #fff;
		padding-left: rem-calc(12);

		&::before {
			content: '\f0d9';
			font-family: FontAwesome, sans-serif;
			font-size: rem-calc(16);
			font-style: normal;
			font-weight: $font-weight-normal;
			padding-right: rem-calc(6);
		}
	}
}

.move-left,
.move-right {
	.exit-off-canvas {
		box-shadow:
			-3px 0 3px rgba(0, 0, 0, 0.24),
			3px 0 3px rgba(0, 0, 0, 0.24);
	}
}
