.dmc-ctas {
	max-width: $row-width;
	list-style: none;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(130px, 4fr));

	.dmc-cta {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		align-items: center;
		text-align: center;
		background-color: #ddd;

		img {
			height: 45px;
			width: auto;
			margin-bottom: $content-spacing;
		}

		p {
			margin: rem-calc(15) 0 0;
			max-width: rem-calc(125);
			font-size: rem-calc(16);
			line-height: 1.14;
		}

		> :last-child {
			margin-top: auto;
		}
	}
}
