$font-family-sans-serif: 'proxima-nova', helvetica, arial, sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-weight-black: 800;

$primary-color: #546466;
$secondary-color: #fcedc4;
$third-color: #cedde6;
$bg-light: #d5eae1;

$border-color: $primary-color;

$body-font-color: $primary-color;
$body-font-family: $font-family-sans-serif;
$body-font-weight: $font-weight-normal;

$header-font-family: $body-font-family;
// $header-font-weight: $font-weight-normal;
// $header-font-style: normal;
$header-font-color: $primary-color;

$row-width: rem-calc(1280);
$content-spacing: rem-calc(25);
$global-radius: 8px;

$cart-color: #009657;

body {
	color: $body-font-color;
	font-family: $body-font-family;
	background-color: $bg-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $header-font-color;
	font-family: $header-font-family;
	font-weight: $font-weight-medium;
}

p {
	font-weight: $body-font-weight;
}

h1 {
	font-size: rem-calc(25);

	@media #{$medium-up} {
		font-size: rem-calc(32);
	}

	&.page-title {
		color: $primary-color;
		// font-size: rem-calc(68);
		line-height: 1;
	}
}

h2 {
	font-size: rem-calc(22);
	margin-bottom: $content-spacing;

	@media #{$medium-up} {
		font-size: rem-calc(26);
		line-height: 1.2;
	}

	.home & {
		line-height: 1.5;
	}

	&.archive-title {
		font-size: rem-calc(20);
		padding-bottom: 0.6rem;
		margin-top: -1rem;
		margin-bottom: $content-spacing;
	}
}

h3 {
	margin-bottom: $content-spacing;
	font-size: rem-calc(19);
	line-height: 1.3;

	@media #{$medium-up} {
		font-size: rem-calc(22);
		line-height: 1.2;
	}
}

h4 {
	font-size: rem-calc(15);
	line-height: 1.3;

	@media #{$medium-up} {
		font-size: rem-calc(19);
		line-height: 1.2;
	}
}


.text-center {
	text-align: center;
}

@font-face {
	font-family: proxima-nova;
	src: url(../fonts/ProximaNova-Light.otf) format('opentype');
	font-weight: 300;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: proxima-nova;
	src: url(../fonts/ProximaNova-Regular.otf) format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: proxima-nova;
	src: url(../fonts/ProximaNova-Semibold.otf) format('opentype');
	font-weight: 600;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: proxima-nova;
	src: url(../fonts/ProximaNova-Bold.otf) format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: proxima-nova;
	src: url(../fonts/ProximaNova-Black.otf) format('opentype');
	font-weight: 800;
	font-style: normal;
	font-display: fallback;
}
